// CONTAINER GLOBAL
.carte-container{
    position: absolute;
    top:40px;
    left: 16px;
    width: 54rem;
    height: 42rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem gray;
    display: flex;
    flex-wrap: wrap;
}
.carte-entete{
    width: 100%;
    height: 1.65rem;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 0.35rem;
    border-radius: 8px 8px 0 0;
    font-size:larger;
    &:hover{
        background-color: rgb(119, 119, 254);
        cursor: move;
    }
}
.carte-form{
    width: 54rem;
    height: 33rem;
    border: 1px solid gainsboro;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
// PHOTO
.photo-container{
    // border: 2px dashed red;
    width: 26rem;
    height: 16rem;
    background-color: white;
    .carte-photo{
        width: 24.6rem;
        height: 15.6rem;
        border: 0.5rem solid white;
        box-shadow: 0.2rem 0.2rem 0.2rem grey;
        &:hover{
            cursor: zoom-in;
        }
    }
}
//DESCRIPTIF
.descriptif-container{
    // border: 2px dashed red;
    width: 26rem;
    height: 16rem;
    background-color: white;
    padding: 0.5rem 0 0.5rem 0;
}
.modif-descriptif{
    margin-left: 260px;
}
.carte-favoris{
    width: 26rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0.5rem 0 0 0;
    .icone-coeur{
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem 0 0.5rem;
        &:hover{
            color: red;
            cursor: pointer;
        }
    }
}
.descriptif-liste{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 22rem;
    height: 100px;
    margin: 0;
    padding-left: 16px;
    
}
.descriptif-url{
    justify-content: space-between;
    width: 24rem;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    .button-visitez{
        width: 96px;
        height: 32px;
        border-radius: 8px;
        background-color: green;
        border: 2px solid green;
        color: white;
        &:hover{
            background-color: transparent;
            color: green;
        }
    }
}
// ATTRIBUTS
.attrib-container{
    // border: 2px dashed red;
    width: 26rem;
    height: 16rem;
    background-color: white;
}
.modif-attrib{
    margin-left: 17rem;
}
.attrib-liste{
    display: flex;
    width: 25rem;
    height: 1rem;
    padding-left: 0.5rem; /* !!!!!!! */
    
}
.attrib-ligne{
    width: 25rem;
    height: 21.5rem;
    list-style: none;
    margin: 0;      /* !!!!!!! */
    display: flex;
    justify-content: space-around;
}
// COMMENTAIRES
.comment-container{
    // b1er: 2px dashed red;
    width: 26rem;
    height: 16rem;
    background-color: white;
}
.modif-comment{
    width: 100px;
    height: 16px;
    margin-left: 180px;
}
.comment-text{
    width: 25rem;
    height: 12rem;
    margin: 0.5rem 0 0.5rem 0;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    color: rgb(2, 60, 0);
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
// BOUTONS
.buttons-container{
    width: 52rem;
    display: flex;
    justify-content: right;
}
.button-retour-carte{
    width: 120px;
    height: 32px;
    background-color: transparent;
    margin-right: 16px;
    color: green;
    border: 2px solid green;
    border-radius: 8px;
    &:hover{
        background-color:rgb(47, 164, 47);
        color: white;
        border: 1px solid white;
    }
}
.button-ajouter-carte{
    width: 120px;
    height: 32px;
    background-color: green;
    border: 2px solid green;
    border-radius: 8px;
    color: white;
    &:hover{
        background-color: transparent;
        color: green;
    }
}
// GENERAUX - COMMUNS
.carte-libelle{
    display: flex;
    align-items: center;
    color: black;
    list-style: none;
    height: 16px;
    label{
        width: 64px;
    }
}
.on{
    width: max-content;
    height: 22px;
    border: 1px solid green;
    border-radius: 16px;
    background-color: green;
    padding: 0 8px 0 8px;
    color: white;
}
.off{
    width: max-content;
    height: 22px;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: transparent;
    padding: 0 8px 0 8px;
    color: gray;
}
.modif-button{
    color: blue;
    border: none;
    background-color: transparent;
    font-style: italic;
    &:hover{
        color:rgb(100, 100, 255);
        cursor: pointer;
    }
}
