.carte-container {
  position: absolute;
  top: 40px;
  width: 880px;
  height: 640px;
  background-color: white;
  box-shadow: 4px 4px 3px gray;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.carte-form {
  width: 872px;
  height: 580px;
  border: 1px solid gainsboro;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.photo-container {
  width: 442px;
  height: 316px;
  margin-right: 16px;
  background-color: cornflowerblue;
}
.photo-container .carte-photo {
  width: 426px;
  height: 300px;
  border: 8px solid white;
  box-shadow: 4px 4px 3px grey;
}

.carte-descriptif {
  width: 400px;
  height: 210px;
  background-color: white;
  padding: 8px 0 8px 0;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}

.modif-descriptif {
  margin-left: 260px;
}

.carte-favoris {
  width: 400px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 8px 0 0 0;
}
.carte-favoris .icone-coeur {
  width: 16px;
  height: 16px;
  margin: 0 16px 0 16px;
}
.carte-favoris .icone-coeur:hover {
  color: red;
  cursor: pointer;
}

.descriptif-liste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 360px;
  height: 100px;
  margin: 0;
  padding-left: 16px;
}

.descriptif-url {
  justify-content: space-between;
  width: 360px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.descriptif-url .button-visitez {
  width: 96px;
  height: 32px;
  border-radius: 8px;
  background-color: green;
  border: 2px solid green;
  color: white;
}
.descriptif-url .button-visitez:hover {
  background-color: transparent;
  color: green;
}

.attrib-container {
  width: 342px;
  height: 226px;
  padding: 8px;
  margin-right: 43px;
  background-color: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}

.modif-attrib {
  margin-left: 200px;
}

.attrib-liste {
  display: flex;
  width: 310px;
  height: 16px;
  padding-left: 8px;
}

.attrib-ligne {
  width: 180px;
  height: 24px;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.attrib-ligne p {
  width: -moz-max-content;
  width: max-content;
  height: 22px;
  border: 1px solid grey;
  border-radius: 16px;
  background-color: transparent;
  padding: 0 8px 0 8px;
}

.comment-form {
  width: 400px;
  height: 226px;
  padding: 8px;
  margin-left: 43px;
  background-color: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}

.modif-comment {
  width: 100px;
  height: 16px;
  margin-left: 180px;
}

.comment-text {
  width: 382px;
  height: 188px;
  margin: 8px 0 8px 0;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 4px 8px 8px 8px;
}

.buttons {
  width: 872px;
  display: flex;
  justify-content: right;
}

.button-retour-carte {
  width: 120px;
  height: 32px;
  background-color: transparent;
  margin-right: 16px;
  color: green;
  border: 2px solid green;
  border-radius: 8px;
}
.button-retour-carte:hover {
  background-color: rgb(47, 164, 47);
  color: white;
  border: 1px solid white;
}

.button-ajouter-carte {
  width: 120px;
  height: 32px;
  background-color: green;
  border: 2px solid green;
  border-radius: 8px;
  color: white;
}
.button-ajouter-carte:hover {
  background-color: transparent;
  color: green;
}

.carte-libelle {
  display: flex;
  align-items: center;
  color: black;
  list-style: none;
  height: 16px;
}
.carte-libelle label {
  width: 64px;
}

.on {
  color: green;
}

.off {
  color: red;
}

.modif-button {
  color: blue;
  border: none;
  background-color: transparent;
  font-style: italic;
}
.modif-button:hover {
  color: rgb(100, 100, 255);
  cursor: pointer;
}/*# sourceMappingURL=onecarte.css.map */