.carte-container .carte-form {
  border: 1px solid red;
  width: 820px;
  height: 468px;
}
.carte-container .carte-form .photo-container {
  width: 300px;
  height: 235px;
}
.carte-container .carte-form .photo-container .carte-photo {
  -o-object-fit: cover;
     object-fit: cover;
}
.carte-container .carte-form .modif-descriptif {
  width: 416px;
  height: 195px;
}
.carte-container .carte-form .modif-descriptif .modif-button {
  background: transparent;
  color: blue;
}
.carte-container .carte-form .modif-descriptif .modif-button:hover {
  color: aqua;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif {
  width: 416px;
  height: 178px;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .carte-favoris .carte-libelle label {
  color: black;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .carte-favoris .carte-libelle p {
  color: brown;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .carte-favoris .icone-coeur {
  width: 16px;
  height: 16px;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-liste {
  width: 72;
  height: 612;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-liste .carte-libelle label {
  width: 60px;
  height: 16px;
  color: black;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-liste .carte-libelle p {
  width: 312px;
  height: 16px;
  color: brown;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-url {
  width: 370px;
  height: 32px;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-url .carte-libelle label {
  color: black;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-url .carte-libelle p {
  color: brown;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-url .button-visitez {
  width: 92px;
  height: 22px;
  background-color: green;
  border: 1px solid green;
  color: white;
}
.carte-container .carte-form .modif-descriptif .carte-descriptif .descriptif-url .button-visitez:hover {
  background-color: transparent;
  color: green;
}
.carte-container .carte-form .attrib-form {
  width: 301px;
  height: 120px;
}
.carte-container .carte-form .attrib-form .modif-attrib {
  width: 218px;
  height: 16px;
}
.carte-container .carte-form .attrib-form .modif-attrib .modif-button {
  background: transparent;
  color: blue;
}
.carte-container .carte-form .attrib-form .modif-attrib .modif-button:hover {
  color: aqua;
}
.carte-container .carte-form .attrib-form .attrib-liste {
  width: 284px;
  height: 90px;
}
.carte-container .carte-form .attrib-form .attrib-liste .attrib-ligne {
  width: 76px;
  height: 16px;
}
.carte-container .carte-form .attrib-form .attrib-liste .on {
  border: 1px solid green;
  color: green;
}
.carte-container .carte-form .attrib-form .attrib-liste .off {
  border: 1px solid gray;
  color: gray;
}
.carte-container .comment-form {
  width: 415px;
  height: 176px;
}
.carte-container .comment-form .modif-button {
  width: 219px;
  height: 16px;
  background: transparent;
  color: blue;
}
.carte-container .comment-form .modif-button:hover {
  color: aqua;
}
.carte-container .comment-form .comment-text {
  color: darkslategrey;
}
.carte-container .buttons {
  border: 1px solid violet;
}
.carte-container .buttons .button-ajouter-carte {
  width: 132;
  height: 32;
  background-color: green;
  color: white;
  border-radius: 8px;
}
.carte-container .buttons .button-ajouter-carte:hover {
  background-color: darkgreen;
}
.carte-container .buttons .button-router-carte {
  width: 132;
  height: 32;
  background-color: transparent color green;
  border: 1px solid green;
  border-radius: 8px;
}
.carte-container .buttons .button-router-carte:hover {
  background-color: darkgreen;
}/*# sourceMappingURL=onecarte.css.map */